.item {
    display: flex;
    align-items: center;
    position: relative;
}
.item input{
    all: unset;
    width: 100%;
    text-align: left;
    padding: 1em;
    border: 1px solid #E8E8E8;
    color: #404040;
}

.item input::placeholder{
    font-size: 0.8em;
}

.item img {
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    right: 0.6em;
}
